.main{
	border: 2px solid blue;
	padding: 2%;
	margin: 2%;
	display:flex;
	flex-direction:row;
}
.left {
	border: 2px solid green;
	padding: 2%;
	margin: 2%;
	border-radius:10%;
	text-align:center;
	width:30%;
}
.right{
	border:2px solid red;
	padding: 2%;
	margin: 2%;
	border-radius:10%;
	width:60%;
}
#number{
	color:brown;
	font-size: 20px;
}
.left img{
	width: 20%;
	border-radius: 50%;
	border :5px solid green;
	box-shadow: 12px 20px 18px yellow;
}
a{
	word-wrap: break-word;
}
.table1{
	width:10%;
	overflow-x: auto;
}
@media only screen and (min-width:320px) and (max-width:480px){

.main{
	border: 2px solid blue;
	padding: 2%;
	margin: 2%;
	display:flex;
	flex-direction:row;

}
.left {
	border: 2px solid green;
	padding: 2%;
	margin: 2%;
	border-radius:10%;
	text-align:center;
	width:10%;
	background-color: blue;
}
.right{
	border:2px solid red;
	padding: 2%;
	margin: 2%;
	border-radius:10%;
	width:90%;
	font-size: 20px;
	background-color: red;
}
#number{
	color:brown;
}
.left img{
	width: 10%;
	border-radius: 10%;
	border :5px solid green;
	box-shadow: 12px 20px 18px yellow;
}

.table1{
	width:10%;
	overflow-x: auto;
}
@media only screen and (min-width:481px) and (max-width:768px){
	.main{
	border: 2px solid pink;
	padding: 2%;
	margin: 2%;
	display:flex;
	flex-direction:row;

}
.left {
	border: 2px solid yellow;
	padding: 2%;
	margin: 2%;
	border-radius:10%;
	text-align:center;
	width:10%;
	background-color: blue;
}
.right{
	border:2px solid green;
	padding: 2%;
	margin: 2%;
	border-radius:10%;
	width:90%;
	font-size: 20px;
	background-color: red;
}
#number{
	color:brown;
}
.left img{
	width: 20%;
	border-radius: 10%;
	border :5px solid green;
	box-shadow: 12px 20px 18px yellow;
}

.table1{
	width:90%;
	overflow-x: auto;
}

@media only screen and (min-width:769px) and (max-width:1024px){
.main{
	border: 2px solid brown;
	padding: 2%;
	margin: 2%;
	display:flex;
	flex-direction:row;

}
.left {
	border: 2px solid orange;
	padding: 2%;
	margin: 2%;
	border-radius:10%;
	text-align:center;
	width:10%;
	background-color: blue;
}
.right{
	border:2px solid black;
	padding: 2%;
	margin: 2%;
	border-radius:20%;
	width:10%;
	font-size: 20px;
	background-color: red;
}
#number{
	color:brown;
}
.left img{
	width: 20%;
	border-radius: 10%;
	border :5px solid green;
	box-shadow: 12px 20px 18px yellow;
}
}